/********************************************************************************
  Programmer:

  Date:

  Purpose:

********************************************************************************/

body
{
	background-color: "#ffa700";
	color: "#0000ff";
}
.h1_top
{
	text-align: center;
}







